
<div class="outlined order-summary">
  <div style="grid-row-start:1;">Number:</div>
  <div>{{selectedOrder?.header.orderName}}</div>
  <div style="grid-row-start:2;">Date:</div>
  <div>{{selectedOrder?.header.creationMomentString}}</div>
  <div style="grid-row-start:3;">Status:</div>
  <div class="status-bar"> 
      <div *ngIf="selectedOrder"
           [ngClass]="{
                      'order-status': true,
                      'order-inprogress': selectedOrder.header.status === orderStatusEnum.InProgress,
                      'order-completed': selectedOrder.header.status === orderStatusEnum.Complete
                      }">
      </div>
      <div *ngIf="selectedOrder"
         [ngClass]="{
                      'text-inprogress-title': selectedOrder.header.status === orderStatusEnum.InProgress,
                      'text-completed-title': selectedOrder.header.status === orderStatusEnum.Complete
                      }"></div>

    
    </div>
    <div class="summary-last-raw" style="grid-row-start:4;">Total:</div>
    <div class="summary-last-raw">{{stringifyDecimal(calcTotal())}}</div>
  </div>

