<div class="wrapper-grid wrapper-grid-layout">  
  <order-overview
                  class="wrapper-grid-item order-overview-container"
                  [headers] = "headers"
                  (requestFetchDetails)="fetchDetails($event)">
  </order-overview>
  <order-summary
                 class="wrapper-grid-item order-summary-container"
                 [selectedOrder]="selectedOrder">
    
  </order-summary>
  <order-details class="wrapper-grid-item order-details-container"
                 [selectedOrder]="selectedOrder">

  </order-details>

  
</div>
