.wrapper-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  --inprogress-color: darkmagenta;
  --completed-color: forestgreen;
}

.outlined {
  outline: 0.2em solid #000;
}

.wrapper-grid-item {
  margin: calc(2px + 0.1em);
}

.order-overview-container {
  grid-area: 1 / 1 / 3 / 2;
}

.order-summary-container {
  grid-area: 1 / 2 / 2 / 3;
  background-color: green;
}

.order-details-container {
  grid-area: 2 / 2 / 3 / 3;
  background-color: blue;
  height:1600px;
}
