.wrapper-grid {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr 3fr;
  overflow-y: auto;
  --inprogress-color: darkmagenta;
  --completed-color: forestgreen;
}

.outlined {
  outline: 0.2em solid #000;
}

.wrapper-grid-item {
  margin: calc(2px + 0.1em);
}

.order-status {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.order-inprogress {
  background-color: var(--inprogress-color);
}

.order-completed {
  background-color: var(--completed-color);
}

.text-inprogress {
  color: var(--inprogress-color);
}

.text-inprogress-title::after {
  content: "In progress";
}

.text-completed {
  color: var(--completed-color);
}

.text-completed-title::after {
  content: "Complete";
}

.text-default {
}

.order-overview-container {
  grid-area: 1 / 1 / 3 / 2;
  
}

.order-summary-container {
  grid-area: 1 / 2 / 2 / 3;
}

.order-details-container {
  grid-area: 2 / 2 / 3 / 3;
  display:grid; /*grid with single cell let stretch content conviniently*/
  min-height:0;
}
