
  <div class="outlined order-overview">
    <div class="header-container">
      <div class="header-item"
           *ngFor="let header of headers; index as id"
           (click)="this.requestFetchDetails.emit(header.id)">
        <div [ngClass]="{
                      'order-status': true,
                      'order-inprogress': header.status === orderStatusEnum.InProgress,
                      'order-completed': header.status === orderStatusEnum.Complete
                      }">
        </div>
        <div class="order-name">
          {{header.orderName}}
        </div>
        <div class="order-moment">
          {{header.creationMomentString}}
        </div>
      </div>
    </div>
    <div class="status-legend outlined">
      <div class="status-legend-item"
           *ngFor="let status of orderStatusNames">
        <div [ngClass]="{
                      'order-status': true,
                      'order-inprogress': status.value === orderStatusEnum.InProgress,
                      'order-completed': status.value === orderStatusEnum.Complete
                      }">
        </div>
        <div [ngSwitch]="status.value">
          <div *ngSwitchCase="orderStatusEnum.InProgress"
               class="text-inprogress">
            In Progress
          </div>
          <div *ngSwitchCase="orderStatusEnum.Complete"
               class="text-completed">
            Complete
          </div>
          <div *ngSwitchDefault
               class="text-default">
            {{status.key}}
          </div>
        </div>      
      </div>      
    </div>
  </div>
